@font-face {
  font-family: ac;
  src: url("../public/ac.otf");
}

.App {
  text-align: center;
  font-family: ac;
  background-image: url("../public/grass.png");
  background-size: 100vw;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
}
