@font-face {
  font-family: ac;
  src: url("../public/ac.otf");
}

.App {
  text-align: center;
  font-family: ac;
  background-image: url("../public/grass.png");
  background-size: 100vw;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(65px + 2vmin);
  color: white;
  transition-duration: 0.3s;
}

.Forms {
  display: flex;
}

button,
select {
  -webkit-appearance: none;
  font-family: ac;
  color: #31947f;
  font-size: calc(8px + 2vmin);
  padding: 10px 30px;
  background-color: white;
  border-radius: 30px;
  border: 0px;
  transition-duration: 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #4aa487;
  color: white;
}

button:active {
  scale: 90%;
}

select {
  text-align: center;
}

select:hover {
  background-color: #4aa487;
  color: white;
}

footer {
  font-size: calc(8px + 2vmin);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
